@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
    margin: 0; padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


input[type=button] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}
