* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    max-width: 100%;
	vertical-align: top;
}

input[type=button] {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}
